<h3>Welcome, <%= current_user.username %>!</h3>

<% @games.each do |game| %>
    <div class="game">
        <p><%= game.content %> by <%= game.user.username %></p>
        <% if game.user == current_user %>
            <p><a href="/games/<%= game.id %>/edit">Edit</a></p>
            <form action="/games/<%= game.id %>" method='post'>
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete">
            </form>
        <% end %>
    </div>
<% end %>
<p><a href="/posts/new">Add a Game!</a></p>
